.streamlist-container {
  padding-left: 40px;
  padding-top: 30px;
  text-align: left;
}

.movie-form {
  margin-top: 10px;
}

.movie-form input {
  padding: 8px;
  margin-right: 10px;
  font-size: 16px;
}

.movie-form button {
  padding: 8px 12px;
  font-size: 16px;
  cursor: pointer;
}

.movie-list {
  margin-top: 20px;
  padding-left: 20px;
}

.movie-list li {
  font-size: 18px;
  margin-bottom: 5px;
}

.movie-list {
  list-style-type: none;
  padding: 0;
margin-top: 20px;
}
.movie-list li {
    display: flex;
    align-items: center;
    gap: 10px;
  font-size: 18px;
  margin-bottom: 10px;
}
.movie-list li.completed span {
    text-decoration: line-through;
    color: gray;
}
.movie-form input,
.movie-list input {
padding: 8px;
  font-size: 16px;
}
.movie-form button {
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
  background-color: white;
  color: #333;
  border: 2px solid #333;
  border-radius: 6px;
  transition: all 0.3s ease;
}

.movie-form button:hover {
  background-color: #333;
  color: white;
}

.movie-list button {
  cursor: pointer;
  background: none;
  border: none;
  color: #333;
}
